name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
      
      # Add cache clearing step
      - name: Clear build cache
        run: |
          cd frontend
          rm -rf .next out node_modules/.cache
          
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "frontend"
          api_location: ""
          output_location: "out"
        env:
          NODE_VERSION: '20'
          NEXT_PUBLIC_API_URL: 'https://layoutai-api-dev.azurewebsites.net'
          NEXT_PUBLIC_B2C_TENANT_NAME: 'layoutaib2c'
          NEXT_PUBLIC_B2C_TENANT_DOMAIN: 'layoutaib2c.onmicrosoft.com'
          NEXT_PUBLIC_B2C_CLIENT_ID: 'b25e167b-e52c-4cb0-b5c8-5ed9feab3b38'
          NEXT_PUBLIC_B2C_AUTHORITY: 'https://layoutaib2c.ciamlogin.com/layoutaib2c.onmicrosoft.com'
          NEXT_PUBLIC_B2C_REDIRECT_URI: 'https://layout-ai.com.au/auth/callback/'
          NEXT_PUBLIC_B2C_POST_LOGOUT_REDIRECT_URI: 'https://layout-ai.com.au'
          NEXT_PUBLIC_B2C_SCOPES: 'openid profile email'
          
  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          action: "close"
